<launch>
   <!-- launching state publishers -->
   <!-- <include file="$(find omo_r1mini_description)/launch/description.launch"/> -->
   <include file="$(find omo_r1_bringup)/launch/omo_r1_remote_G2.launch"/>

   <!-- launching cartographer node and parameters -->
   <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
         -configuration_directory $(find omo_r1mini_cartographer)/config 
         -configuration_basename omo_r1mini_lidar.lua" 
      output="screen">
      <remap from="scan" to="scan"/>
   </node>
   
   <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>